body {
    background-color: #F2E7DC;
    color: #012326;
  }
  .navbar {
    background-color: #012326;
  }
  .navbar-brand, .nav-link {
    color: #F2E7DC !important;
  }
  .btn-primary {
    background-color: #F27B35;
    border-color: #F27B35;
  }
  .btn-primary:hover {
    background-color: #F2A0A0;
    border-color: #F2A0A0;
  }
  .jumbotron {
    background-color: #56BFA1;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
  }
  .footer {
    background-color: #012326;
    color: #F2E7DC;
    padding: 1rem 0;
    margin-top: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
   /* Registro */
      .register-container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .register-container h2 {
        color: #012326;
        margin-bottom: 20px;
      }
      .form-control:focus {
        border-color: #56BFA1;
        box-shadow: 0 0 5px rgba(86, 191, 161, 0.5);
      }
      /* Login */
      
      .login-container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .login-container h2 {
        color: #012326;
        margin-bottom: 20px;
      }
      .form-control:focus {
        border-color: #56BFA1;
        box-shadow: 0 0 5px rgba(86, 191, 161, 0.5);
      }
      /* adocao */
      .about-section {
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
      }
      .animal-card {
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 15px;
      }
      .animal-card img {
        border-radius: 8px;
        width: 100%;
        height: auto;
      }
      /* Detalhes */
      .animal-details {
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
      }
      .animal-details img {
        border-radius: 8px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
      /* listar */
      .animal-card {
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 15px;
      }
      .animal-card img {
        border-radius: 8px;
        width: 100%;
        height: auto;
      }